<a id="logo" href="http://bookschool.org/">
    <svg width="200" height="26" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
        <!-- Created with SVG-edit - http://svg-edit.googlecode.com/ -->
        <title>a test</title>

        <g>
            <title>Layer 1</title>
            <text xml:space="preserve" text-anchor="middle" font-family="serif" font-size="24" id="svg_8" y="21" x="100.015625" stroke-linecap="null" stroke-linejoin="null" stroke-dasharray="null" stroke-width="0" stroke="#000000" fill="#000000">High School Physics</text>
        </g>
    </svg>
</a>
